# Postgres DB, shouldn't need to be changed
POSTGRES_DB=dona
POSTGRES_USER=dona
POSTGRES_PASSWORD=password
POSTGRES_HOST_PORT=5432
DATABASE_URL=postgres://dona:password@localhost:5432/dona

# App ports
APP_PORT=3000
APP_INTERNAL_PORT=3000
PORT=3000

# Next.js development origins
NEXT_ALLOWED_DEV_ORIGINS=127.0.0.1,127.0.0.1:3000,127.0.0.1:9012,localhost:3000

# Config for survey redirects
DONOR_ID_INPUT_METHOD=automated # Options: automated, showid, manually
DONOR_SURVEY_ENABLED=false
DEMO_MODE=true # Options: true, false
DEMO_SHOW_HAS_TOKEN_BUTTON=true # Show "I have received my token" button even in demo mode
UPLOAD_TEST_ENABLED=true # Enable data file testing before upload
TOKEN_REQUIRED=true # Require enrollment token before donation flow
ENABLED_DATA_SOURCES=FB,IG # Options: WhatsApp|WA, Facebook|FB, Instagram|IG, IMessage|IMSG
FEEDBACK_SURVEY_ENABLED=false
DONOR_SURVEY_LINK=https://survey.mbp.tf.uni-bielefeld.de/index.php?r=survey/index&sid=453492
FEEDBACK_SURVEY_LINK=https://survey.mbp.tf.uni-bielefeld.de/index.php?r=survey/&sid=158878

# Language setup (supported: en,de,hy)
ENABLED_LANGUAGES=en,hy
DEFAULT_LANGUAGE=en
BROWSER_LANGUAGE_ENABLED=false # Use browser language when no locale cookie is set

# Duplicate donation check
NEXT_PUBLIC_DUPLICATE_DONATION_CHECK_ENABLED=true
DUPLICATE_DONATION_CHECK_ENABLED=true
NEXT_PUBLIC_MIN_MESSAGES_FOR_DUPLICATE_CHECK=100
DUPLICATE_CHECK_EXCEPTION_HASHES_CSV_PATH=public/documents/sample-data/duplicate-check-exceptions.csv
